.react-slideshow-container .default-nav:first-of-type{
    left: 30px;
}

.react-slideshow-container .default-nav:last-of-type{
    right: 30px;
}


.react-slideshow-container .default-nav{
    background-color: transparent;
    transition: all .3s;
}


@media (max-width: 768px){
    .react-slideshow-container .default-nav:first-of-type{
        left: 0px;
    }

    .react-slideshow-container .default-nav:last-of-type{
        right: 0px;
    }
}